@model IEnumerable<Filminurk.Models.UserComments.UserCommentIndexViewModel>

@{
	int rowNumber = 1;
}

<div>
	<a asp-action="NewComment" asp-controller="userComments" type="submit" class="btn btn-primary">Make New Comment</a>
</div>